<ion-header>
  <ion-toolbar>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding fade-in">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Tasky</ion-card-title>
      <ion-card-subtitle>v1.0</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Esta aplicación fue desarrollada como parte del curso de Programación de Aplicaciones Móviles usando Ionic Angular. Creada por Diego Martínez.
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" color="medium" (click)="volverAtras()" class="ion-margin-top">
    Volver atrás
  </ion-button>

  <ion-button expand="block" color="primary" (click)="volverAlInicio()" class="ion-margin-top">
    Volver a inicio
  </ion-button>
</ion-content>
